@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #1f1f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #007acc;
  --color-secondary: #00bfa6;
  --color-text: #1f1f1f;
  --color-muted: #f5f5f5;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-roboto-mono);
}

body {
  background: #ffffff;
  color: #1f1f1f;
}
